[Desktop Entry]
Version=0.1
Name=SLswitch
Comment=Screen Layout switcher
Icon=/opt/lxdeapps/slswitch/slswitch.png
Exec=slswitch
Categories=Settings;
Terminal=false
Type=Application
Hidden=false
